#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

h1 {
    /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-bottom: 0;
    line-height: .75;
}

#header2 {
    /* text-align: center; */
    font-family: 'Lora', serif;
    color: rgb(70, 35, 224);
    font-size: 2em;
    font-size: bold;
}

.content {
    background-color: rgb(190, 186, 186);
    background-clip: content-box;
}

.header3 {
    text-align: center;
    font-family: 'Lora', serif;
    color: rgb(70, 35, 224);
    font-size: 1.5em;
    font-size: bold;
}

.text {
    overflow: hidden;
}
.text .text2{
    display: block;
    margin:0px 15px 0px 15px;
}

button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

@media(min-width:768px){
    #collapsable-nav{
        display: none;
    }
}

#collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
}

#collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
}

#nav-list {
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: white;
}

#nav-list a {
    color: #951C49;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-collapse: separate;
}


#nav-list a:hover {
    background: #E7E7E7;
}
